.boxes {
  border: 1px solid;
  font-size: 20px;
  font-weight: bold;
  background-color: DodgerBlue;
  margin: 5px;
  cursor: pointer;
}

.main-box-1, .main-box-2 {
  display: flex;
}

.main-box-1 > div, .main-box-2 > div {
    color: white;
    text-align: center;
}

@media screen and (min-width: 601px) {
  div {
    line-height: 150px;
  }

  .box-1, .sub-box-1 {
    flex-grow: 1;
  }

  .box-1, .box-7 {
    line-height: 300px;
  }

  .sub-box-2 {
    display: flex;
    flex-direction: row;
  }

  .box-3, .box-4, .sub-box-3, .sub-box-4, .box-7 {
    flex-grow: 1;
  }

  .box-5, .box-9 {
    line-height: 100px;
  }

  .box-8, .box-6 {
    line-height: 200px;
  }
}

@media screen and (max-width: 600px) {
  div {
    line-height: 100px;
  }

  .main-box-1, .main-box-2 {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sub-box-1 {
    display: flex;
    flex-direction: column;
  }

  .sub-box-2, .sub-box-3, .sub-box-4 {
    display: flex;
    flex-direction: row;
  }

  .box-3, .box-4, .box-5, .box-8, .box-6, .box-9 {
    flex-grow: 1;
  }

  .sub-box-2 {
    flex-grow: 1;
    order: 1;
  }

  .box-2 {
    order: 2;
  }

  .box-7 {
    order: 1;
  }

  .sub-box-3 {
    order: 2;
  }

  .sub-box-4 {
    order: 3;
  }
}
